.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 0px 11px;
  background-color: #282c34;
}
.text {
  font-size: 1.9em;
  font-weight: 600;
  color: aqua;
}
.emoji {
  font-size: 11em;
  margin-top: -15px;
}
.loading {
  font-size: 11em;
  margin-top: -20px;
}
